<router-outlet></router-outlet>

<div class="container">
  <p-button  routerLink="">Home</p-button>
  <p-button  routerLink="convenios">Convenio Lista</p-button>
  <p-button  routerLink="convenios/novo">Convenio Cadastro</p-button>
</div>

<div class="container">
  <p-button  routerLink="">Home</p-button>
  <p-button  routerLink="pacientes">Paciente Lista</p-button>
  <p-button  routerLink="pacientes/novo">Paciente Cadastro</p-button>
</div>

<div class="container">
  <p-button  routerLink="">Home</p-button>
  <p-button  routerLink="patrimonios">Patrimonio Lista</p-button>
  <p-button  routerLink="patrimonios/novo">Patrimonio Cadastro</p-button>
</div>
